@import '@/assets/css/colors';

.rel {
	position: relative;
}

.zag {
	font-size: 1.8rem;
	color: #666;
}

.my  {
	.v-label {
		font-size: .85rem;
	}
	.v-input__control {
		height: 20px;
	}
}

.blockhd {
	text-transform: uppercase;
	font-size: 0.8rem;
	font-weight: 600;
	letter-spacing: .15rem;
	color: $link;
}

.theme--light.v-expansion-panels .v-expansion-panel {
	border-bottom: 1px solid #ccc;
	background: transparent;
	&::before {
		box-shadow: none;
	}
}
.theme--light.v-expansion-panels .v-expansion-panel--active {
	background: #fff;
	/* border-radius: 0; */
	box-shadow: 0 0px 3px rgba(0,0,0,.2);
	border: 1px solid #dedede;
}

.v-expansion-panel-header > *:not(.v-expansion-panel-header__icon) {
	flex: 0 0 auto;
}
.v-application--is-ltr .v-expansion-panel-header__icon {
	order: -1;
	margin-right: .5rem;
	flex-shrink: 1;
}

// animation 
.fade-enter-active, .fade-leave-active {
  transition: all .5s ease;
	position: absolute;
}

.fade-enter, .fade-leave-to {
	opacity: 0;
}
.fade-enter {
	transform: translateX(100px);
}
.fade-leave-to {
	transform: translateX(-100px);
}

